name: Build tester

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: install dependencies
      run: | 
          sudo apt install libreadline-dev libcap-dev libjpeg-turbo8-dev
    - name: make
      run: make
    - name: test
      run: make test
          
#    - name: make check
#      run: make check
#    - name: make distcheck
#      run: make distcheck
